<div class="bgImg1">
    <div class="container" style="padding-top: 153px;">
        <p class="fontSize30 marginBottom0" style="font-family: 'Sansita Swashed', cursive;">Contact us</p>
        <p><a style="color: white;" routerLink="/home">Home</a> / Contact us</p>
    </div>
</div>

<div class="container paddingBottom40">
    <div class="row">
        <div class="col-lg-4 imgHide">
            <img class="widthMinMax" style="box-shadow: 0px 3px 6px #00000029;border-radius: 0px 0px 25px 25px;" src="./../../../assets/contactus/Rectangle 5937.png" alt="">
        </div>
        <div class="col-lg-8 paddingTop40">
            <p class="fontSize30 greenColor marginBottom2" style="font-family: 'Sansita Swashed', cursive;">Contact us</p>
            <p class="color333333 width368 fontSize14"  >Have any questions? We'd be delighted to hear from you. Here's how you can reach us:</p>
            <div class="row">
                <div class="col-lg-4 text-center"> 
                    <div class="container-fluid">
                        <div style="position: absolute; margin-top: 5px;" class="resAnimation zoom-in-out-box">
                
                        </div> 
                        <img src="./../../../assets/contactus/Email.png" alt="">
                        <p class="greenColor fontSize14 paddingTop10">
                            <span>Sales</span><br>
                            <span>@avaniprojectsindia.com</span> </p>
                    </div>
                    
                    
                </div>
                <div class="col-lg-4 text-center">
                    <div class="container-fluid">
                        <div style="position: absolute;  margin-top: 5px;" class="resAnimation zoom-in-out-box">
                
                        </div>
                        <img src="./../../../assets/contactus/Phone.png" alt="">
                        <p class="greenColor fontSize14 paddingTop10">
                            <span>+91 635 635 3939</span><br>
                            <span> 040 23 000 555</span> </p>
                    </div>
                    
                    
                </div>
                <div class="col-lg-4 text-center">
                    <div class="container-fluid">
                        <div style="position: absolute;  margin-top: 5px;" class="resAnimation zoom-in-out-box">
                
                        </div>
                        <img src="./../../../assets/contactus/Location.png" alt="">
                        <p class="greenColor fontSize14 paddingTop10">
                            <span>34, Sri Arcade Bldg,</span><br>
                            <span> Gachibowli, Hyderabad-32</span> </p>
                    </div>
                    
                    
                </div>
            </div>
            <form [formGroup]="contactForm" (ngSubmit)="contact(contactForm.value)">
            <div class="row">
                <div class="col-lg-6">
                    <p class="color333333 fontSize12  marginBottom5" >Full Name<span style="color: red;">*</span></p>
                    <input formControlName="name" name="name" class="form-control  " type="text">
                    <div *ngIf="isSubmitClicked && contactFormControl.name.errors">
                        <div  *ngIf="contactFormControl.name.errors.required">
                            <p class="fontSize12" style="color: red;">*Please enter your full name</p>
                        </div>
                        <div *ngIf="contactFormControl.name.errors.pattern">
                            <p class="fontSize12" style="color: red;">*Please enter valid name</p>
                        </div>
                    </div>
                        
                    
                    <p class="color333333 fontSize12  marginBottom5 marginTop15" >Email ID<span style="color: red;">*</span></p>
                    <input formControlName="email" name="email" class="form-control " type="text">
                   
                    <div *ngIf="isSubmitClicked && contactFormControl.email.errors">
                        <div  *ngIf="contactFormControl.email.errors.required">
                            <p class="fontSize12" style="color: red;">*Please enter your email ID</p>
                        </div>
                        <div *ngIf="contactFormControl.email.errors.pattern">
                            <p class="fontSize12" style="color: red;">*Please enter valid email</p>
                        </div>
                    </div>
                    <p class="color333333 fontSize12  marginBottom5 marginTop15" >Contact Number<span style="color: red;">*</span></p>
                    <input formControlName="mobile" name="mobile" class="form-control" type="text">
                    
                    <div *ngIf="isSubmitClicked && contactFormControl.mobile.errors">
                        <div  *ngIf="contactFormControl.mobile.errors.required">
                            <p class="fontSize12" style="color: red;">*Please enter your contact number</p>
                        </div>
                        <div *ngIf="contactFormControl.mobile.errors.pattern">
                            <p class="fontSize12" style="color: red;">*Please enter valid number</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p class="color333333 fontSize12  marginBottom5" >Message<span style="color: red;">*</span></p>
                    <textarea formControlName="message" name="message" class="form-control " name="" id="" cols="30" rows="7"></textarea>
                    
                    <div *ngIf="isSubmitClicked && contactFormControl.message.errors">
                        <div  *ngIf="contactFormControl.message.errors.required">
                            <p class="fontSize12" style="color: red;">*please enter your queries</p>
                        </div>
                        <div *ngIf="contactFormControl.message.errors.pattern">
                            <p class="fontSize12" style="color: red;">*Please enter valid query</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-end marginTop15">
                    <button type="submit" class="btn btn greenBackground whiteColor">Send <svg xmlns="http://www.w3.org/2000/svg" width="14.44" height="14.439" viewBox="0 0 14.44 14.439">
                        <path id="Send_Icon" data-name="Send Icon" d="M593.88,599.257a.569.569,0,0,1,.411-.585l3.493-1.234,9.711-3.43a.581.581,0,0,1,.658.106.572.572,0,0,1,.117.655q-2.324,6.578-4.643,13.157a.581.581,0,0,1-.518.465.594.594,0,0,1-.6-.416q-1.145-2.465-2.3-4.925a.185.185,0,0,1,.046-.253q1.2-1.19,2.393-2.389a.5.5,0,0,0,.165-.532.6.6,0,0,0-.463-.425.519.519,0,0,0-.509.192c-.776.778-1.556,1.551-2.326,2.334a.257.257,0,0,1-.352.058q-2.444-1.15-4.894-2.287A.581.581,0,0,1,593.88,599.257Z" transform="translate(-593.88 -593.954)" fill="#fff"/>
                      </svg>
                    </button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="map-responsive">
        <iframe 
            src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Avani%20developers,%20gachibowli+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
            width="100%" height="298" frameborder="0" style="border:0; border-radius: 6px;" allowfullscreen></iframe>
    </div>
</div>
