<!--<div class="bgImg1">
    <div class="container res-sec1-lg">
        <p class="text-center res-sec1-2-lg" style="font-family: 'Sansita Swashed', cursive;">From its medieval origins to the digital era</p>
     
    </div>
    <div class="container text-center res-sec1-3-lg">
        <p>"There is nothing like finding the home of your dreams for real comfort".
            Crafting exquisite homes for people from all walks of life for generations.</p>
    </div>
</div>-->
<video id="videoBG" autoplay muted loop>
    <source src="./../../../assets/InVideo___Project_ID__914pprenderfs_1645441461826.mp4" type="video/mp4"> 
</video>

<div class="bgImg2" style="margin-top: -6px;">
    <div class="container text-center">
        <p class="res-sec2-1-lg marginBottom11" style="font-family: 'Sansita Swashed', cursive;">About us</p>
        
    </div>
    <div class="container text-center res-sec2-2-lg" >
        <p class="res-sec2-2-lg fontSize14">Setting the benchmark for delivering a variety of real estate. A decade of of dedication and deliverance of excellence has aided us in building lasting customer relationships.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img style="max-width: 100%;" src="./../../../assets/home/About us image.png" alt="">
            </div>
            <div class="col-lg-6" style="padding-top: 25px;">
                <p>The decision to implement customer-friendly regulations and best-in-industry procedures in order to provide well-landscaped and ritzy  abodes for the city's elite.</p>
                <p>Avani Projects seeks to improve its clients' quality of life by translating today's trends of better and healthier living into comfortable and enjoyable homes. We at Avani Projects have achieved a remarkable reputation as one of the best real estate companies due to its exceptional craftsmanship, customer-friendly practises, and dependable track record.</p>
            </div>
        </div>
    </div>
   

</div>
<!--Gallery-->
<app-gallery-brochure></app-gallery-brochure>
<!--BLOGS-->
<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-lg-8">
            <p class="greenColor marginBottom11" style="font-family: 'Sansita Swashed', cursive; font-size: 30px;">Blogs</p>
            <p class="Color190B0B fontSize14">Now stay updated with all the latest information and real estate trends that are changing nationwide.</p>
        </div>
        <div class="col-lg-4 paddingTopBottom14">
            <button class="textGreen btn btn bordergreenColor greenColor "  style="float: right;">View More</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 paddingTop10 paddingBottom10">
            <div class="bgBlog1">
                <button class="btn btn greenBackground whiteColor" style="margin-top: 148px;">Life Style</button>
                <p class="marginBottom0 padding10_13">Why children need to spend time in Nature</p>
                <p class="fontSize12 padding10_13">The purpose of lorem ipsum is to create a natural looking block of text (sentence,...</p>
            </div>
        </div>
        <div class="col-lg-3 paddingTop10 paddingBottom10">
            <div class="bgBlog2">
                <button class="btn btn greenBackground whiteColor" style="margin-top: 148px;">Weekend Home</button>
                <p class="marginBottom0 padding10_13">Why children need to spend time in Nature</p>
                <p class="fontSize12 padding10_13">The purpose of lorem ipsum is to create a natural looking block of text (sentence,...</p>
            </div>
        </div>
        <div class="col-lg-3 paddingTop10 paddingBottom10">
            <div class="bgBlog3">
                <button class="btn btn greenBackground whiteColor" style="margin-top: 148px;">Happy Family</button>
                <p class="marginBottom0 padding10_13">Why children need to spend time in Nature</p>
                <p class="fontSize12 padding10_13">The purpose of lorem ipsum is to create a natural looking block of text (sentence,...</p>
            </div>
        </div>
        <div class="col-lg-3 paddingTop10 paddingBottom10">
            <div class="bgBlog4">
                <button class="btn btn greenBackground whiteColor" style="margin-top: 148px;">Farm House</button>
                <p class="marginBottom0 padding10_13">Why children need to spend time in Nature</p>
                <p class="fontSize12 padding10_13">The purpose of lorem ipsum is to create a natural looking block of text (sentence,...</p>
            </div>
        </div>
    </div>
</div><br>
<!--Testimonials-->
    <!---carousel-->
    <app-testimonials></app-testimonials>
<!--carousel-->
<div style="background-color: #5A5A5A;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 marginTop60">
                <p class="fontSize30 greenColor text-center marginBottom11" style="font-family: 'Sansita Swashed', cursive;">Contact us</p>
                <p class="text-center fontSize12">Have any questions? We'd be delighted to hear from you. Here's how you can reach us:</p>
                <div class="map-responsive">
                    <iframe 
                        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Avani%20developers,%20gachibowli+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                        width="100%" height="298" frameborder="0" style="border:0; border-radius: 6px;" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6 contactUsForm" style="z-index: 1;">
                <div class="card borderRadius12 contactUsFormCard">
                  <form [formGroup]="contactForm" (ngSubmit)="contact(contactForm.value)">
                    <div class="row">
                      <div class="col-lg-6 paddingBottom20">
                        <p class="color333333 marginBottom0 fontSize12 paddingBottom7">Full Name<span style="color: red;">*</span></p>
                        <input formControlName="name" name="name" class="form-control" type="text"> 
                        <div *ngIf="isSubmitClicked && contactFormControl.name.errors">
                            <div  *ngIf="contactFormControl.name.errors.required">
                                <p class="fontSize12 marginBottom0" style="color: red;">*Please enter your full name</p>
                            </div>
                            <div *ngIf="contactFormControl.name.errors.pattern">
                                <p class="fontSize12 marginBottom0" style="color: red;">*Please enter valid name</p>
                            </div>
                        </div>
                      </div>
                      
                      <div class="col-lg-6">
                        <p class="color333333 marginBottom0 fontSize12 paddingBottom7">Mobile<span style="color: red;">*</span></p>
                        <input formControlName="mobile" name="mobile" class="form-control" type="text"> 
                        <div *ngIf="isSubmitClicked && contactFormControl.mobile.errors">
                            <div  *ngIf="contactFormControl.mobile.errors.required">
                                <p class="fontSize12 marginBottom0" style="color: red;">*Please enter your contact number</p>
                            </div>
                            <div *ngIf="contactFormControl.mobile.errors.pattern">
                                <p class="fontSize12 marginBottom0" style="color: red;">*Please enter valid number</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-12 paddingBottom20">
                        <p class="color333333 marginBottom0 fontSize12 paddingBottom7">Email<span style="color: red;">*</span></p>
                        <input formControlName="email" name="email" class="form-control" type="text"> 
                        <div *ngIf="isSubmitClicked && contactFormControl.email.errors">
                            <div  *ngIf="contactFormControl.email.errors.required">
                                <p class="fontSize12 marginBottom0" style="color: red;">*Please enter your email ID</p>
                            </div>
                            <div *ngIf="contactFormControl.email.errors.pattern">
                                <p class="fontSize12 marginBottom0" style="color: red;">*Please enter valid email</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <p class="color333333 marginBottom0 fontSize12 paddingBottom7">Message<span style="color: red;">*</span></p>
                        <textarea formControlName="message" name="message" class="form-control" name="" id="" cols="30" rows="4"></textarea>
                        <div *ngIf="isSubmitClicked && contactFormControl.message.errors">
                            <div  *ngIf="contactFormControl.message.errors.required">
                                <p class="fontSize12 marginBottom0" style="color: red;">*please enter your queries</p>
                            </div>
                            <div *ngIf="contactFormControl.message.errors.pattern">
                                <p class="fontSize12 marginBottom0" style="color: red;">*Please enter valid query</p>
                            </div>
                        </div>
                      </div>
                      
                    </div><br>
                    <div class="text-center">
                        <button type="submit" class="btn btn greenBackground whiteColor">Send <svg xmlns="http://www.w3.org/2000/svg" width="14.44" height="14.439" viewBox="0 0 14.44 14.439">
                            <path id="Send_Icon" data-name="Send Icon" d="M593.88,599.257a.569.569,0,0,1,.411-.585l3.493-1.234,9.711-3.43a.581.581,0,0,1,.658.106.572.572,0,0,1,.117.655q-2.324,6.578-4.643,13.157a.581.581,0,0,1-.518.465.594.594,0,0,1-.6-.416q-1.145-2.465-2.3-4.925a.185.185,0,0,1,.046-.253q1.2-1.19,2.393-2.389a.5.5,0,0,0,.165-.532.6.6,0,0,0-.463-.425.519.519,0,0,0-.509.192c-.776.778-1.556,1.551-2.326,2.334a.257.257,0,0,1-.352.058q-2.444-1.15-4.894-2.287A.581.581,0,0,1,593.88,599.257Z" transform="translate(-593.88 -593.954)" fill="#fff"/>
                          </svg>
                        </button>
                    </div>
                    
                    
                  </form>
                </div>
              </div>
        </div>
        
    </div>
</div>
      