@media screen and (min-width:992px) {
    .bgImg1{
        height: 607px;
        background: url('./../../../assets/Rectangle\ 1.png'); background-repeat: no-repeat; background-size: 100% 100%;
      }
      .res-sec1-lg{
        padding-top: 233px; width: 568px; text-align: center;
      }
      .res-sec1-2-lg{
        font-size: 52px;
      }
      .res-sec1-3-lg{
        width: 720px;
      }

      .bgImg2{
        padding-top: 25px;
        height: 456px;
        background: url('./../../../assets/home/Rectangle\ 6.png'); background-repeat: no-repeat; background-size: 100% 100%;
      }
      .res-sec2-1-lg{
        font-size: 30px;
    }
    .res-sec2-2-lg{
        width: 720px;
      }
    .bgBlog1{
      height: 279px;
        background: url('./../../../assets/home/Blog\ 1.png'); background-repeat: no-repeat; background-size: 100% 100%;
    } 
    .bgBlog2{
      height: 279px;
        background: url('./../../../assets/home/Blog\ 2.png'); background-repeat: no-repeat; background-size: 100% 100%;
    }
    .bgBlog3{
      height: 279px;
        background: url('./../../../assets/home/Blog\ 3.png'); background-repeat: no-repeat; background-size: 100% 100%;
    }
    .bgBlog4{
      height: 279px;
        background: url('./../../../assets/home/Blog\ 4.png'); background-repeat: no-repeat; background-size: 100% 100%;
    }
    .paddingTop50{
      padding-top: 50px;
    }
  
  }
  
  @media screen and (max-width:991px) {
    
    .bgImg1{
        height: 607px;
        background: url('./../../../assets/Rectangle\ 1.png'); background-repeat: no-repeat; background-size: 200% 100%;
      }
      .res-sec1-lg{
        padding-top: 230px; width: auto; text-align: left;  
      }
      .res-sec1-2-lg{
        font-size: 32px;
      }
      .res-sec1-3-lg{
        width: auto;
      }
      .bgImg2{
          padding-top: 40px;
        height: auto;
        background: url('./../../../assets/home/Rectangle\ 6.png'); background-repeat: no-repeat; background-size: 200% 200%;
      }
      .res-sec2-1-lg{
          font-size: 30px;
      }
      .res-sec2-2-lg{
        width: auto;
      }
      .bgBlog1{
        height: 279px;
          background: url('./../../../assets/home/Blog\ 1.png'); background-repeat: no-repeat; background-size: 100% 100%;
      }
      .bgBlog2{
        height: 279px;
          background: url('./../../../assets/home/Blog\ 2.png'); background-repeat: no-repeat; background-size: 100% 100%;
      }
      .bgBlog3{
        height: 279px;
          background: url('./../../../assets/home/Blog\ 3.png'); background-repeat: no-repeat; background-size: 100% 100%;
      }
      .bgBlog4{
        height: 279px;
          background: url('./../../../assets/home/Blog\ 4.png'); background-repeat: no-repeat; background-size: 100% 100%;
      }
      .imgWidthAuto{
        width: -webkit-fill-available;
      }
      .paddingTop50{
        padding-top: 0px;
      }
  }



//Contact Form
.contactUsForm{
  margin-top: 60px; position: relative; 
}
.contactUsFormCard{
  padding: 25px;  padding-bottom: 15px;
}
.borderRadius12{
  border-radius: 12px;
}

//
button:hover{
  color: white;
}
//button focus
input:focus {
  outline:none;
  box-shadow: none;
}
button:focus {
  outline:none;
  box-shadow: none;
}
textarea:focus {
  outline:none;
  box-shadow: none;
}

.textGreen:hover{
  color: #6CA100;
}

//video
#videoBG{
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;
  overflow: hidden;
}