//ICONS Onhover
.hovering{
    a{
      fill: #6CA100;
    }
    a:hover{
      fill: white;
    }
  }

a{
  text-decoration: none;
  color: White;
} 
.siteLinkHover{
  a:hover{
    color: #6CA100;
  }
}


