
<div class="container paddingTop40 " >
    <p  class="fontSize30 marginBottom2 text-center greenColor" style="font-family: 'Sansita Swashed', cursive;">Gallery</p>
    <div class="container text-center width720 paddingBottom20">
       <p class="width720 fontSize14 color333333">
        The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page
       </p>
   </div>

   <div class="container width904">
    <div class="row">
        <div class="col-lg-4 paddingBottom20" routerLink="/gallery/galleryview/0">
            <div class="galleryBg1">
                <div class="text-center galleryHover cursor-p" style="padding-top: 92px; padding-bottom: 92px;">
                    <p class="fontSize24 marginBottom2" style="font-family: 'Sansita Swashed', cursive;">Green Swing</p>
                    <p class="colorEEEEEE">{{this.count[0]}} images</p>
                </div> 
            </div>
        </div>

        <div class="col-lg-4 paddingBottom20" routerLink="/gallery/galleryview/1">
            <div class="galleryBg2">
                <div class="text-center galleryHover cursor-p" style="padding-top: 92px; padding-bottom: 92px;">
                    <p class="fontSize24 marginBottom2" style="font-family: 'Sansita Swashed', cursive;">Project A</p>
                    <p class="colorEEEEEE">{{this.count[1]}} images</p>
                </div>
                
            </div>
        </div>

        <div class="col-lg-4 paddingBottom20"  routerLink="/gallery/galleryview/2">
            <div class="galleryBg3">
                <div class="text-center galleryHover cursor-p" style="padding-top: 92px; padding-bottom: 92px;">
                    <p class="fontSize24 marginBottom2" style="font-family: 'Sansita Swashed', cursive;">Project B</p>
                    <p class="colorEEEEEE">{{this.count[2]}} images</p>
                </div>
                
            </div>
        </div>

        <div class="col-lg-4 paddingBottom20"  routerLink="/gallery/galleryview/3">
            <div class="galleryBg4">
                <div class="text-center galleryHover cursor-p" style="padding-top: 92px; padding-bottom: 92px;">
                    <p class="fontSize24 marginBottom2" style="font-family: 'Sansita Swashed', cursive;">Project C</p>
                    <p class="colorEEEEEE">{{this.count[3]}} images</p>
                </div>
                
            </div>
        </div>

        <div class="col-lg-4 paddingBottom20"  routerLink="/gallery/galleryview/4">
            <div class="galleryBg5">
                <div class="text-center galleryHover cursor-p" style="padding-top: 92px; padding-bottom: 92px;">
                    <p class="fontSize24 marginBottom2" style="font-family: 'Sansita Swashed', cursive;">Project D</p>
                    <p class="colorEEEEEE">{{this.count[4]}} images</p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-4 paddingBottom20"  routerLink="/gallery/galleryview/5">
            <div class="galleryBg6">
                <div class="text-center galleryHover cursor-p" style="padding-top: 92px; padding-bottom: 92px;">
                    <p class="fontSize24 marginBottom2" style="font-family: 'Sansita Swashed', cursive;">Project E</p>
                    <p class="colorEEEEEE">{{this.count[5]}} images</p>
                </div>
                
            </div>
        </div>
    </div>
   </div>

</div>