<!--Testimonials-->
    <!---carousel-->
    <div class="container-xl">
        <p class="text-center fontSize30 greenColor marginBottom11" style="font-family: 'Sansita Swashed', cursive;">Testimonals</p>
        <p class="textBlack text-center fontSize14">The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page</p>
        <div class="row paddingBottom60" style="z-index: -1; position: relative;">
            <div class="col-lg-10 mx-auto">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="img-box">
                                        <img class="imgWidthAuto" src="./../../../assets/home/Testimonals.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-8 paddingTop50">
                                    <div class="borderRadius12 boxBgColorWhite">
                                        <p class="textBlack textAlignLeft marginBottom0 padding10">Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. “It's not Latin, though it looks like it, and it actually says nothing,” Before & After magazine answered a curious reader, “Its ‘words.</p>
                                    </div>
                                    <p class="greenColor textAlignLeft fontBold paddingLeft10 marginBottom0 fontSize22">Robert Doe</p>
                                    <p class="textBlack textAlignLeft paddingLeft10 marginBottom0">Manager, SRT Solution</p>
                                    <p class="paddingLeft10 textAlignLeft">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13.745" height="13.173" viewBox="0 0 13.745 13.173">
                                                <path id="Full_star" data-name="Full star"
                                                    d="M13.709,5.469a.729.729,0,0,0-.629-.5l-3.967-.36L7.544.935A.73.73,0,0,0,6.2.935L4.632,4.607l-3.968.36A.731.731,0,0,0,.25,6.245l3,2.63-.884,3.9a.729.729,0,0,0,1.086.789l3.422-2.045,3.421,2.045a.73.73,0,0,0,1.087-.789l-.884-3.9,3-2.629a.731.731,0,0,0,.214-.777Zm0,0"
                                                    transform="translate(0 -0.491)" fill="#f5b400" />
                                            </svg>
                                        
                                        </span>
                                        <span class="paddingLeft10">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13.745" height="13.173" viewBox="0 0 13.745 13.173">
                                                <path id="Full_star" data-name="Full star"
                                                    d="M13.709,5.469a.729.729,0,0,0-.629-.5l-3.967-.36L7.544.935A.73.73,0,0,0,6.2.935L4.632,4.607l-3.968.36A.731.731,0,0,0,.25,6.245l3,2.63-.884,3.9a.729.729,0,0,0,1.086.789l3.422-2.045,3.421,2.045a.73.73,0,0,0,1.087-.789l-.884-3.9,3-2.629a.731.731,0,0,0,.214-.777Zm0,0"
                                                    transform="translate(0 -0.491)" fill="#f5b400" />
                                            </svg>
                                        </span>
                                        <span class="paddingLeft10">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13.745" height="13.173" viewBox="0 0 13.745 13.173">
                                                <path id="Full_star" data-name="Full star"
                                                    d="M13.709,5.469a.729.729,0,0,0-.629-.5l-3.967-.36L7.544.935A.73.73,0,0,0,6.2.935L4.632,4.607l-3.968.36A.731.731,0,0,0,.25,6.245l3,2.63-.884,3.9a.729.729,0,0,0,1.086.789l3.422-2.045,3.421,2.045a.73.73,0,0,0,1.087-.789l-.884-3.9,3-2.629a.731.731,0,0,0,.214-.777Zm0,0"
                                                    transform="translate(0 -0.491)" fill="#f5b400" />
                                            </svg>
                                        </span>
                                        <span class="paddingLeft10">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13.745" height="13.173" viewBox="0 0 13.745 13.173">
                                                <path id="Full_star" data-name="Full star"
                                                    d="M13.709,5.469a.729.729,0,0,0-.629-.5l-3.967-.36L7.544.935A.73.73,0,0,0,6.2.935L4.632,4.607l-3.968.36A.731.731,0,0,0,.25,6.245l3,2.63-.884,3.9a.729.729,0,0,0,1.086.789l3.422-2.045,3.421,2.045a.73.73,0,0,0,1.087-.789l-.884-3.9,3-2.629a.731.731,0,0,0,.214-.777Zm0,0"
                                                    transform="translate(0 -0.491)" fill="#f5b400" />
                                            </svg>
                                        </span>
                                        
                                        <span class="paddingLeft10">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13.745" height="13.173"
                                                viewBox="0 0 13.745 13.173">
                                                <defs>
                                                    <linearGradient id="linear-gradient" y1="0.627" x2="1.07" y2="0.615" gradientUnits="objectBoundingBox">
                                                        <stop offset="0" stop-color="#f5b400" />
                                                        <stop offset="0.464" stop-color="#f5b400" />
                                                        <stop offset="0.469" stop-color="#8d6b04" stop-opacity="0" />
                                                        <stop offset="1" stop-color="#806104" stop-opacity="0" />
                                                    </linearGradient>
                                                </defs>
                                                <path id="Half_Star" data-name="Half Star"
                                                    d="M13.709,5.469a.729.729,0,0,0-.629-.5l-3.967-.36L7.544.935A.73.73,0,0,0,6.2.935L4.632,4.607l-3.968.36A.731.731,0,0,0,.25,6.245l3,2.63-.884,3.9a.729.729,0,0,0,1.086.789l3.422-2.045,3.421,2.045a.73.73,0,0,0,1.087-.789l-.884-3.9,3-2.629a.731.731,0,0,0,.214-.777Zm0,0"
                                                    transform="translate(0 -0.491)" fill="url(#linear-gradient)" />
                                            </svg>
                                        </span>
                                    </p>
                                </div>
                            </div>
    
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="img-box">
                                        <img class="imgWidthAuto" src="./../../../assets/home/Testimonals.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-8 paddingTop50">
                                    <div class="borderRadius12 boxBgColorWhite">
                                        <p class="textBlack textAlignLeft marginBottom0 padding10">Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. “It's not Latin, though it looks like it, and it actually says nothing,” Before & After magazine answered a curious reader, “Its ‘words.</p>
                                    </div>
                                    <p class="greenColor fontBold textAlignLeft paddingLeft10 marginBottom0 fontSize22">Robert Doe</p>
                                    <p class="textBlack textAlignLeft paddingLeft10 marginBottom0">Manager, SRT Solution</p>
                                    <p  class="paddingLeft10 textAlignLeft">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13.745" height="13.173" viewBox="0 0 13.745 13.173">
                                                <path id="Full_star" data-name="Full star"
                                                    d="M13.709,5.469a.729.729,0,0,0-.629-.5l-3.967-.36L7.544.935A.73.73,0,0,0,6.2.935L4.632,4.607l-3.968.36A.731.731,0,0,0,.25,6.245l3,2.63-.884,3.9a.729.729,0,0,0,1.086.789l3.422-2.045,3.421,2.045a.73.73,0,0,0,1.087-.789l-.884-3.9,3-2.629a.731.731,0,0,0,.214-.777Zm0,0"
                                                    transform="translate(0 -0.491)" fill="#f5b400" />
                                            </svg>
                                        
                                        </span>
                                        <span class="paddingLeft10">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13.745" height="13.173" viewBox="0 0 13.745 13.173">
                                                <path id="Full_star" data-name="Full star"
                                                    d="M13.709,5.469a.729.729,0,0,0-.629-.5l-3.967-.36L7.544.935A.73.73,0,0,0,6.2.935L4.632,4.607l-3.968.36A.731.731,0,0,0,.25,6.245l3,2.63-.884,3.9a.729.729,0,0,0,1.086.789l3.422-2.045,3.421,2.045a.73.73,0,0,0,1.087-.789l-.884-3.9,3-2.629a.731.731,0,0,0,.214-.777Zm0,0"
                                                    transform="translate(0 -0.491)" fill="#f5b400" />
                                            </svg>
                                        </span>
                                        <span class="paddingLeft10">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13.745" height="13.173" viewBox="0 0 13.745 13.173">
                                                <path id="Full_star" data-name="Full star"
                                                    d="M13.709,5.469a.729.729,0,0,0-.629-.5l-3.967-.36L7.544.935A.73.73,0,0,0,6.2.935L4.632,4.607l-3.968.36A.731.731,0,0,0,.25,6.245l3,2.63-.884,3.9a.729.729,0,0,0,1.086.789l3.422-2.045,3.421,2.045a.73.73,0,0,0,1.087-.789l-.884-3.9,3-2.629a.731.731,0,0,0,.214-.777Zm0,0"
                                                    transform="translate(0 -0.491)" fill="#f5b400" />
                                            </svg>
                                        </span>
                                        <span class="paddingLeft10">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13.745" height="13.173" viewBox="0 0 13.745 13.173">
                                                <path id="Full_star" data-name="Full star"
                                                    d="M13.709,5.469a.729.729,0,0,0-.629-.5l-3.967-.36L7.544.935A.73.73,0,0,0,6.2.935L4.632,4.607l-3.968.36A.731.731,0,0,0,.25,6.245l3,2.63-.884,3.9a.729.729,0,0,0,1.086.789l3.422-2.045,3.421,2.045a.73.73,0,0,0,1.087-.789l-.884-3.9,3-2.629a.731.731,0,0,0,.214-.777Zm0,0"
                                                    transform="translate(0 -0.491)" fill="#f5b400" />
                                            </svg>
                                        </span>
                                        
                                        <span class="paddingLeft10">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13.745" height="13.173"
                                                viewBox="0 0 13.745 13.173">
                                                <defs>
                                                    <linearGradient id="linear-gradient" y1="0.627" x2="1.07" y2="0.615" gradientUnits="objectBoundingBox">
                                                        <stop offset="0" stop-color="#f5b400" />
                                                        <stop offset="0.464" stop-color="#f5b400" />
                                                        <stop offset="0.469" stop-color="#8d6b04" stop-opacity="0" />
                                                        <stop offset="1" stop-color="#806104" stop-opacity="0" />
                                                    </linearGradient>
                                                </defs>
                                                <path id="Half_Star" data-name="Half Star"
                                                    d="M13.709,5.469a.729.729,0,0,0-.629-.5l-3.967-.36L7.544.935A.73.73,0,0,0,6.2.935L4.632,4.607l-3.968.36A.731.731,0,0,0,.25,6.245l3,2.63-.884,3.9a.729.729,0,0,0,1.086.789l3.422-2.045,3.421,2.045a.73.73,0,0,0,1.087-.789l-.884-3.9,3-2.629a.731.731,0,0,0,.214-.777Zm0,0"
                                                    transform="translate(0 -0.491)" fill="url(#linear-gradient)" />
                                            </svg>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="img-box">
                                        <img class="imgWidthAuto" src="./../../../assets/home/Testimonals.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-8 paddingTop50">
                                    <div class="borderRadius12 boxBgColorWhite">
                                        <p class="textBlack textAlignLeft marginBottom0 padding10">Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. “It's not Latin, though it looks like it, and it actually says nothing,” Before & After magazine answered a curious reader, “Its ‘words.</p>
                                    </div>
                                    <p class="greenColor fontBold textAlignLeft paddingLeft10 marginBottom0 fontSize22">Robert Doe</p>
                                    <p class="textBlack textAlignLeft paddingLeft10 marginBottom0">Manager, SRT Solution</p>
                                    <p  class="paddingLeft10 textAlignLeft">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13.745" height="13.173" viewBox="0 0 13.745 13.173">
                                                <path id="Full_star" data-name="Full star"
                                                    d="M13.709,5.469a.729.729,0,0,0-.629-.5l-3.967-.36L7.544.935A.73.73,0,0,0,6.2.935L4.632,4.607l-3.968.36A.731.731,0,0,0,.25,6.245l3,2.63-.884,3.9a.729.729,0,0,0,1.086.789l3.422-2.045,3.421,2.045a.73.73,0,0,0,1.087-.789l-.884-3.9,3-2.629a.731.731,0,0,0,.214-.777Zm0,0"
                                                    transform="translate(0 -0.491)" fill="#f5b400" />
                                            </svg>
                                        
                                        </span>
                                        <span class="paddingLeft10">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13.745" height="13.173" viewBox="0 0 13.745 13.173">
                                                <path id="Full_star" data-name="Full star"
                                                    d="M13.709,5.469a.729.729,0,0,0-.629-.5l-3.967-.36L7.544.935A.73.73,0,0,0,6.2.935L4.632,4.607l-3.968.36A.731.731,0,0,0,.25,6.245l3,2.63-.884,3.9a.729.729,0,0,0,1.086.789l3.422-2.045,3.421,2.045a.73.73,0,0,0,1.087-.789l-.884-3.9,3-2.629a.731.731,0,0,0,.214-.777Zm0,0"
                                                    transform="translate(0 -0.491)" fill="#f5b400" />
                                            </svg>
                                        </span>
                                        <span class="paddingLeft10">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13.745" height="13.173" viewBox="0 0 13.745 13.173">
                                                <path id="Full_star" data-name="Full star"
                                                    d="M13.709,5.469a.729.729,0,0,0-.629-.5l-3.967-.36L7.544.935A.73.73,0,0,0,6.2.935L4.632,4.607l-3.968.36A.731.731,0,0,0,.25,6.245l3,2.63-.884,3.9a.729.729,0,0,0,1.086.789l3.422-2.045,3.421,2.045a.73.73,0,0,0,1.087-.789l-.884-3.9,3-2.629a.731.731,0,0,0,.214-.777Zm0,0"
                                                    transform="translate(0 -0.491)" fill="#f5b400" />
                                            </svg>
                                        </span>
                                        <span class="paddingLeft10">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13.745" height="13.173" viewBox="0 0 13.745 13.173">
                                                <path id="Full_star" data-name="Full star"
                                                    d="M13.709,5.469a.729.729,0,0,0-.629-.5l-3.967-.36L7.544.935A.73.73,0,0,0,6.2.935L4.632,4.607l-3.968.36A.731.731,0,0,0,.25,6.245l3,2.63-.884,3.9a.729.729,0,0,0,1.086.789l3.422-2.045,3.421,2.045a.73.73,0,0,0,1.087-.789l-.884-3.9,3-2.629a.731.731,0,0,0,.214-.777Zm0,0"
                                                    transform="translate(0 -0.491)" fill="#f5b400" />
                                            </svg>
                                        </span>
                                        
                                        <span class="paddingLeft10">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13.745" height="13.173" viewBox="0 0 13.745 13.173">
                                                <path id="Full_star" data-name="Full star"
                                                    d="M13.709,5.469a.729.729,0,0,0-.629-.5l-3.967-.36L7.544.935A.73.73,0,0,0,6.2.935L4.632,4.607l-3.968.36A.731.731,0,0,0,.25,6.245l3,2.63-.884,3.9a.729.729,0,0,0,1.086.789l3.422-2.045,3.421,2.045a.73.73,0,0,0,1.087-.789l-.884-3.9,3-2.629a.731.731,0,0,0,.214-.777Zm0,0"
                                                    transform="translate(0 -0.491)" fill="#f5b400" />
                                            </svg>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
<!--carousel-->