<div class="bgImg1">
    <div class="container" style="padding-top: 153px;">
        <p class="fontSize30 marginBottom0" style="font-family: 'Sansita Swashed', cursive;">About us</p>
        <p><a class="whiteColor" routerLink="/home">Home</a> / About us</p>
    </div>
</div>

<div class="container paddingTop40 paddingBottom40">
    <div class="row">
        <div class="col-lg-6">
            <img class="img1" src="./../../../assets/aboutus/About u s image 1.png" alt="">
        </div>
        <div class="col-lg-6">
            <p class="fontSize30 marginBottom0 greenColor" style="font-family: 'Sansita Swashed', cursive;">About <span style="color: #838383;">Avani Projects</span></p>
            <p class="color333333 fontSize14">Over the last decade, Avani Projects and its developers have set a benchmark in effectively delivering a variety of real estate-related projects.</p>
            <p class="color333333 fontSize14">We respect your business and will offer you with the personalised attention and care you deserve, whether you are a property owner, investor, realtor, or buyer. A rigorous Code of Ethics is one that we believe in. Integrity, devotion to quality, a professional demeanour, and customised attention are values we hold dear.</p>
            <p class="color333333 fontSize14">Our goal is to strike a bridge between the requirement to cut through the clutter of a highly competitive market where trends have a short shelf life and the demands of cost and investor trust. Responding to factors that are immutable to the site and the surrounding context rather than transient trends is one strategy to avoid succumbing to this.</p>
        </div>
    </div>
</div>

<div class="container paddingBottom40">
    <div class="row">
        <div class="col-lg-4 text-center">
            <div style="position: absolute; margin-top: -2.5px;" class="resAnimation zoom-in-out-box">
                
            </div> 
            <img  src="./../../../assets/aboutus/Vision.png" alt="">
            <p class="fontSize22 marginBottom0 greenColor paddingTop26"  style="font-family: 'Sansita Swashed', cursive;">vision</p>
            <p class="color333333">Be the most trusted and respected TRUE real estate service provider, ensuring reliable client service 100 % of the time.</p>
        </div>
        <div class="col-lg-4 text-center">
            <div style="position: absolute; margin-top: -2.5px;" class="resAnimation zoom-in-out-box">
                
            </div> 
            <img  src="./../../../assets/aboutus/Mission.png" alt="">
            <p class="fontSize22 marginBottom0 greenColor paddingTop26"  style="font-family: 'Sansita Swashed', cursive;">Mission</p>
            <p class="color333333">To empower you in embracing a new way of life while maintaining a strong focus on responsible methods and quality.</p>
        </div>
        <div class="col-lg-4 text-center">
            <div style="position: absolute; margin-top: -2.5px;" class="resAnimation zoom-in-out-box">
                
            </div> 
            <img  src="./../../../assets/aboutus/Core Values.png" alt="">
            <p class="fontSize22 marginBottom0 greenColor paddingTop26"  style="font-family: 'Sansita Swashed', cursive;">Core Values</p>
            <p class="color333333">Keen on providing an agile customer support. We are always striving for integrity and excellence.</p>
        </div>
    </div>
   
</div>
<!--Leadership Team-->

<div class="bgImg2">
     <div class="container paddingTop40 " >
         <p  class="fontSize30 marginBottom0 text-center" style="font-family: 'Sansita Swashed', cursive;">Our Team of Leaders</p>
         <div class="container text-center width720 paddingBottom20">
            <p class="width720 fontSize14">
                Leading with purpose and strong values, Meet the brilliant minds whose dedication has built the dream homes of thoudands.
            </p>
        </div>
        <div class="container width720 paddingBottom26">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <div style="position: absolute; margin-top: -2.5px; z-index: 1; " class="resAnimation2 zoom-in-out-boxs">
                        
                    </div> 
                    <img  style="z-index: 2; position: relative;"  src="./../../../assets/aboutus/G.Narasimha Rao.png" alt="">
                    <p class="fontSize22 marginBottom0 paddingTop26"  style="font-family: 'Sansita Swashed', cursive;">G.Narasimha Rao</p>
                    <p class="fontSize14" >Head - Corporate Affairs</p>
                </div>
                <div class="col-lg-4 text-center">
                    <div style="position: absolute; margin-top: -2.5px; z-index: 1;" class="resAnimation2 zoom-in-out-boxs">
                        
                    </div> 
                    <img style="z-index: 2; position: relative;" src="./../../../assets/aboutus/A.Rama Raju.png" alt="">
                    <p class="fontSize22 marginBottom0 paddingTop26"  style="font-family: 'Sansita Swashed', cursive;">A.Rama Raju</p>
                    <p class="fontSize14">Head- Project Execution</p>
                </div>
                <div class="col-lg-4 text-center">
                    <div style="position: absolute; margin-top: -2.5px; z-index: 1;" class="resAnimation2 resAnimation2_3 zoom-in-out-boxs">
                        
                    </div> 
                    <img style="z-index: 2; position: relative;" src="./../../../assets/aboutus/A.Papi Reddy.png" alt="">
                    <p class="fontSize22 marginBottom0 paddingTop26"  style="font-family: 'Sansita Swashed', cursive;">A.Papi Reddy</p>
                    <p class="  fontSize14">Head - Business Development</p>
                </div>
            </div>
        </div>
        <div class="container width430 ">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <div style="position: absolute; margin-top: -2.5px; z-index: 1; " class="resAnimation3 zoom-in-out-boxs3">
                        
                    </div> 
                    <img  style="z-index: 2; position: relative;"  src="./../../../assets/aboutus/Non-known.png" alt="">
                    <p class="fontSize22 marginBottom0 paddingTop26"  style="font-family: 'Sansita Swashed', cursive;">B. Srinivas</p>
                    <p class="  fontSize14">Advisor - Vision & Marketing</p>
                </div>
                <div class="col-lg-6 text-center ">
                    <div style="position: absolute; margin-top: -2.5px; z-index: 1;" class="resAnimation3 resAnimation3_2 zoom-in-out-boxs3">
                        
                    </div> 
                    <img style="z-index: 2; position: relative;" src="./../../../assets/aboutus/Non-known.png" alt="">
                    <p class="fontSize22 marginBottom0 paddingTop26"  style="font-family: 'Sansita Swashed', cursive;">S.Shiva</p>
                    <p class="  fontSize14">Advisor - Business Operations</p>
                </div>
            </div>
        </div>
        
     </div>
</div>