/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500;600&display=swap'); 
 
 body{
   font-size: 16px;
   font-family: 'Sofia Pro', Regular;
   color: white;
 }
 .greenBackground{
    background-color: #6CA100;
 }
 .greenColor{color: #6CA100;}
 .Color190B0B{color: #190B0B;}
 .color333333{color: #333333;}
 .colorEEEEEE{color: #EEEEEE;}
 .whiteColor{color: #FFFFFF;}
 .paddingTopBottom14{padding: 14px 0 8px 0;} .paddingTop0{padding-top: 0px;} .paddingLeft7{padding-left: 7px;} .paddingLeft10{padding-left: 10px;}
 .paddingRight0{padding-right: 0px;} .padding10_13{padding: 0px 13px 0px 10px;} .paddingTop10{padding-top: 10px;}
 .paddingBottom10{padding-bottom: 10px;} .paddingTop{padding-top: 50px;} .paddingLeft25{padding-left: 25px;} .paddingBottom7{padding-bottom: 7px;}
 .paddingTop8{padding-top: 8px;} .paddingTopBottom40{padding: 40px 12px 40px 12px;} .paddingLeft0{padding-left: 0px;} .paddingBottom20{padding-bottom: 20px;}
 .paddingLeft30{padding-left: 30px;} .paddingTop40{padding-top: 40px;} .paddingTop26{padding-top: 26px;} .paddingBottom26{padding-bottom: 26px;}
  .paddingBottom40{padding-bottom: 40px;} .paddingBottom5{padding-bottom: 5px;}.paddingTop18{padding-top: 18px;}
  
 .marginTop6{margin-top: 6px;} .marginBottom11{margin-bottom: 11px;} .marginBottom0{margin-bottom: 0px;} .marginTop60{margin-top: 60px;}
 .marginBottom2{margin-bottom: 2px;} .marginBottom5{margin-bottom: 5px;} .marginBottom15{margin-bottom: 15px;} .marginTop15{margin-top: 15px;}
 .bordergreenColor{border: 1px solid #6CA100;}
 .fontSize12{font-size: 12px;} .fontSize30{font-size: 30px;} .fontSize22{font-size: 22px;} .fontSize14{font-size: 14px;}
 .fontSize22{font-size: 22px;} .fontSize24{font-size: 24px;}
 .textAlignLeft{text-align: left;} .textAlignRight{text-align: right;} .textAlignCenter{text-align: center;}
  